.content-page-title {
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: gray;
  background-color: white;
  text-align: left;
  padding: 15px;
}
.content-page-title h1 {
  margin: 0;
  padding: 0;
  color: gray;
  width: max-content;
  padding-left: 30px;
}
.add-type {
  min-width: 300px;
  width: 25%;
  background-color: #d4d6e5;
}

.add-type-button {
  width: 100%;
  border-style: dashed;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border-color: #5905ce;
  color: #5905ce;
}
.sidebar {
  background-color: #d4d6e5;
}
.sidebar-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-size: 0.7rem;
}
.sidebar-count h2 {
  font-weight: normal;
}
.container-build {
  height: 100vh;
  width: 100%;
  display: flex;
}
.sidebar img {
  width: 20px;
  height: 20px;
}
.sidebar {
  padding: 0 20px;
  width: 25%;
}
.fields {
  background-color: #ebeefe;
  flex-grow: 1;
  width: 50%;
}
.all-buttons {
  display: flex;
  flex-direction: column;
}
.button-content-type {
  display: flex;
}
