.add-type {
  min-width: 300px;
  width: 25%;
  background-color: #d4d6e5;
}

.add-type-button {
  margin-bottom: 20px;
  width: 100%;
  border-style: dashed;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border-color: #5905ce;
  color: #5905ce;
}
.sidebar {
  background-color: #d4d6e5;
}
.sidebar-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  font-size: 0.7rem;
}
.sidebar-count h2 {
  font-weight: normal;
}

.sidebar img {
  width: 20px;
  height: 20px;
}
.sidebar {
  padding: 0 20px;
  width: 25%;
  min-width: 250px;
}
.all-buttons {
  display: flex;
  flex-direction: column;
}
.button-content-type {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  border-style: none;
  justify-content: space-between;
  display: flex;
}
.button-content-type:hover {
  background-color: #5905ce;
  color: white;
  font-weight: bold;
}
